<mat-card>
  <mat-card-title>Alerts</mat-card-title>
  <mat-card-subtitle>Items requiring attention</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    card content
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
      <span>View More</span>
    </a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Favorites</mat-card-title>
  <mat-card-subtitle>Your favorite products</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    card content
  </mat-card-content>
  <mat-card-actions>
    <a mat-button color="accent" class="text-upper" [routerLink]="['/product']">
      <span>View More</span>
    </a>
  </mat-card-actions>
</mat-card>
